<div class="banner">

  <div id="homepage">
    <h1> Bem-vindos ao Tourails!</h1>

    <h2>Compartilhe experiências com os guias locais.</h2>
    <p> Você também pode ser um anfitrião.</p>
    <%= link_to "Agende agora", search_path, class: "btn btn-info" %>
    <%= link_to "Crie sua oferta", new_offer_path, class: "btn btn-info" %>
    <hr>
    <%= render 'shared/search' %>
  </div>
</div>