<h1 id="tour-h1">Bem-vindo ao aplicativo Tourails, seu guia facilitado de viagem!</h1>
<p>Compartilhe experiência turística com pessoas próximas</p>

<p>Você pode guiar e ser guiado! Curta este novo aplicativo Tourails!</p> 
<p>Com ele sua experiência turística será ainda melhor, com um guia de confiança
nativo da cidade.</p>
          
<%= link_to "Crie sua oferta", new_offer_path, class: "btn btn-info" %>
<%= link_to "Localize uma oferta", offers_path, class: "btn btn-info" %>

