<h1 id="tour-h1">Welcome to Tourails!</h1>
<p>Editar a página principal (home)</p>
          
<%= link_to "Create your offer!", new_offer_path, class: "nav-link" %>
<%= link_to "Search your offer!", offers_path, class: "nav-link" %>

