<h1 id="tour-h1">Bem-vindo ao aplicativo Tourails, seu guia facilitado de viagem!</h1>
<p>Share tourism experience with locals!</p>

<p>You can be a guide and you can be guided! Enjoy the Tourails!</p>
          
<%= link_to "Crie sua oferta", new_offer_path, class: "btn btn-info" %>
<%= link_to "Localize uma oferta", offers_path, class: "btn btn-info" %>

