<h1 id="tour-h1">Welcome to Tourails!</h1>
<p>Share tourism experience with locals!</p>

<p>You can be a guide and you can be guided! Enjoy the Tourails!</p>
          
<%= link_to "Create your offer!", new_offer_path, class: "btn btn-info" %>
<%= link_to "Search your offer!", offers_path, class: "btn btn-info" %>

