<p>Olá <%= @resource.email %>!</p>

<p>Alguém requisitou a alteração de sua senha. Você pode fazer isto por meio do endereço abaixo:</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se não foi você quem solicitou troca da senha, ignorar a mensagem enviada.</p>
<p>Sua senha não será alterada até que você realize o acesso ao endereço acima e crie uma nova senha.</p>
